.card {
  background-color: #ffffff;
  animation: fade-in 0.5s;
}


@keyframes fade-in {
  from {
    margin-top: 20px;
    opacity: 0;
  }

  to {
    margin-top: 0px;
    opacity: 1;
  }
}


.content {
  max-width: 700px;
}

.text-line-through {
  text-decoration: line-through;
}
